.btn:link,
    .btn:visited {
        background: $color-primary-dark;
        text-decoration: none;
        font-size: 13px;
        color: $color-white;
        padding: 8px 40px 10px;
        display: inline-block;
        border-radius: 5px;
        margin: 25px 0;
        -webkit-transition: all .3s;
        transition: all .3s;
        border: 1px solid $color-primary-dark;
        &:focus{
            outline: none;
            box-shadow: none;
        }

        &:hover {
            background: $color-white;
            color: $color-primary-dark;
            border: 1px solid $color-primary-dark;
        }
    }


    .bg-btn:link,
    .bg-btn:visited {
        color: $color-primary-dark;
        font-size: 13px;
        text-decoration: none;
        background-color: $color-white;
        padding: 8px 25px 10px;
        border-radius: 5px;

        &:focus{
            outline: none;
            box-shadow: none;
        }
       
    }