@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media only screen and (max-width: 600px) {
            @content
        }

        ;
    }

    @if $breakpoint==tab-port {
        @media only screen and (max-width: 900px) {
            @content
        }

        ;
    }

    @if $breakpoint==tab-land {
        @media only screen and (max-width: 1200px) {
            @content
        }

        ;
    }

    @if $breakpoint==big-desktop {
        @media only screen and (min-width: 1800px) {
            @content
        }

        ;
    }
}