.premium {
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, .13);
    margin-bottom:20px; 



    &__head {
        padding: 23px;
        background: $color-primary-dark;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-white;
        border-radius: 10px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;

      
    }

    &__title {
        margin: auto;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
    }

    &__body {
        margin: 10px;
    }

    &__icon {
        position: relative;
        bottom: 15px;
        right: 7px;
        font-size: 20px;
        color: $color-grey;
        font-weight: 600;
    }

    &__span {
        color: $color-grey-light;
        font-size: 14px;

        &::before {
            content: "/";
            font-weight: 100;
            color: $color-grey-light;
            font-size: 20px;
        }
    }

    &__price {
        font-size: 37px;
        color: $color-grey;
        margin-bottom: -10px;
        position: relative;

    }

}