.vacansy {
    background-color: $color-white;
    margin: 30px;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.13);

    &__header {
        background-color: $color-primary-dark;
        padding: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include respond(phone) {
            flex-direction: column;
            padding: 20px 0;
        }
    }

    &__title {
        color: $color-white;
        font-size: 15px;
        text-transform: uppercase;
        margin-right: 80px;
        @include respond(phone) {
            margin:20px auto;
            font-size: 11px;
        }
    }

    &__body {
        text-align: center;
        padding: 80px 113px 88px 89px;
       
        &--title {
            color: $color-grey;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 700;
        }
    }

    
    &__icon {
        background-color: $color-primary-dark;
        border-radius: 50%;
        height: 85px;
        width:  85px;
        line-height:  80px;
        text-align: center;
        margin: 20px auto;
    }


    &__border {
        height: 2px;
        margin: 5px auto;
        background-color: $color-primary-dark;
        width: 30%;
    }

    &__number {
        color: $color-grey;
        font-size: 20px;
        font-weight: 700;
    }
}