* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.premium {
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.13);
  margin-bottom: 20px;
}

.premium__head {
  padding: 23px;
  background: #b40d4a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.premium__title {
  margin: auto;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}

.premium__body {
  margin: 10px;
}

.premium__icon {
  position: relative;
  bottom: 15px;
  right: 7px;
  font-size: 20px;
  color: #686868;
  font-weight: 600;
}

.premium__span {
  color: #bfbfbf;
  font-size: 14px;
}

.premium__span::before {
  content: "/";
  font-weight: 100;
  color: #bfbfbf;
  font-size: 20px;
}

.premium__price {
  font-size: 37px;
  color: #686868;
  margin-bottom: -10px;
  position: relative;
}

.vacansy {
  background-color: #fff;
  margin: 30px;
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.13);
}

.vacansy__header {
  background-color: #b40d4a;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 600px) {
  .vacansy__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
  }
}

.vacansy__title {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  margin-right: 80px;
}

@media only screen and (max-width: 600px) {
  .vacansy__title {
    margin: 20px auto;
    font-size: 11px;
  }
}

.vacansy__body {
  text-align: center;
  padding: 80px 113px 88px 89px;
}

.vacansy__body--title {
  color: #686868;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

.vacansy__icon {
  background-color: #b40d4a;
  border-radius: 50%;
  height: 85px;
  width: 85px;
  line-height: 80px;
  text-align: center;
  margin: 20px auto;
}

.vacansy__border {
  height: 2px;
  margin: 5px auto;
  background-color: #b40d4a;
  width: 30%;
}

.vacansy__number {
  color: #686868;
  font-size: 20px;
  font-weight: 700;
}

.btn:link,
.btn:visited {
  background: #b40d4a;
  text-decoration: none;
  font-size: 13px;
  color: #fff;
  padding: 8px 40px 10px;
  display: inline-block;
  border-radius: 5px;
  margin: 25px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid #b40d4a;
}

.btn:link:focus,
.btn:visited:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:link:hover,
.btn:visited:hover {
  background: #fff;
  color: #b40d4a;
  border: 1px solid #b40d4a;
}

.bg-btn:link,
.bg-btn:visited {
  color: #b40d4a;
  font-size: 13px;
  text-decoration: none;
  background-color: #fff;
  padding: 8px 25px 10px;
  border-radius: 5px;
}

.bg-btn:link:focus,
.bg-btn:visited:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=style.css.map */